---
import Header from "../components/Header.astro";
import BlurCircle from "@/components/shared/BlurCircle.astro";
import theme from "@/data/theme";
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";

import "@fontsource/open-sans";
import "@/styles/tailwind.css";
import "@/styles/post.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <SEOTags {...headTags} />

    <body
        class="mx-auto flex min-h-screen max-w-[1200px] flex-col gap-9 bg-neutral-950 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16">
        <Header />
        <BlurCircle position="top" color={theme.colors.blur.top} />
        <BlurCircle position="bottom" color={theme.colors.blur.bottom} />
        <slot />
        <style is:global>
            html {
                font-family: "Open Sans";
            }

            .st-c-green {
                background-color: #4ce6a6;
            }

            .st-green {
                background-color: #062D1D;
                color: #4CE6A6;
            }

            .st-c-orange {
                background-color: rgb(234 179 8 / 1);;
            }

            .st-orange {
                background-color: #af8021;
                color: rgb(234 179 8 / 1);
            }

            .st-c-red {
                background-color: #e64c4c;
            }

            .st-red {
                background-color: #2D0606;
                color: #E64C4C;
            }
        </style>
        <script src="../utils/lanyardSocket.js"></script>
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    </body>
</html>
